<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/maps"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Point</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item>
    <ion-input label="Name" labelPlacement="floating" [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Coordinates" labelPlacement="floating" [(ngModel)]="coordinates"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Description" labelPlacement="floating" [(ngModel)]="description"></ion-input>
  </ion-item>

  <!-- Peta Leaflet di dalam ion-content -->
  <div id="mapcreate" style="width: 100%; height: 300px; margin-top: 16px; border-radius: 8px;"></div>

  <ion-button expand="full" (click)="save()" class="ion-margin-top">Save</ion-button>
</ion-content>
